@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	background-color: rgb(238,238,238)
}
.navbar-brand img{
	 margin-top: -10px;
	 display: inline-block;
	 /*position: absolute;
	 width: 19%;
	 top: 37px;
	 left: 50px;*/
}

#home strong {
    font:"Adobe Devanagari";
    font-size:1.5em;
    color:#FF3300;
    text-align:center;
	width: 50%;
   
   
}

#home .homeFoot{
	text-align: center;
}

.map{	
	overflow: hidden;
	background-color:rgb(235,149,50);
	width: 90%;
}


.navbar {	   
background-color:rgb(235,149,50);
}

.navbar li {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-default .navbar-nav > .active > a  {
   background-color: rgb(235,142,1);
}
	
#contactPageHeader{
	background-color:rgb(45,45,45);
	border-radius: 7px;
	margin-bottom: 10px;
	padding-left: 15%;
    padding-right: 15%;
	    font-size: 0.7em;
    padding-top: 1%;
    padding-bottom: 1%;
 }

#contactPageHeader p{
	color: whitesmoke;
	margin-top: 45px;
	margin-bottom: 45px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;	
	font-style: italic;
 }
	

.classWithPad { 
	background-color:rgb(235,149,50);
	text-align: center;
	border-radius: 7px;
	margin:1px; padding:10px; 
	}
	
#message{
	    height: 280px;

}
.btn-lg{
	float: left;
}

#home img {
	display: none;
	
}
#home .row {
	
    margin-top: 25%;
}


@media (max-width: 768px) {
	.navbar-default .navbar-nav > .hem > a,
	.navbar-default .navbar-nav > .referenser > a,
	.navbar-default .navbar-nav > .omoss > a ,
	.navbar-default .navbar-nav > .kontakt > a {
		display: none;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 3em;
		
	}
	.glyphicon {
		font-size: 1.5em;
	}
}

@media (min-width: 768px) {
	#drop {
		display: none;
	}


	#home img {
	display: block;
	margin-top: 5%;
	margin: 0 auto;
    margin-top: 5%;
}
	
	#contactPageHeader{
	background-color:rgb(45,45,45);
	border-radius: 7px;
	margin-bottom: 10px;
	padding-left: 15%;
    padding-right: 15%;

 }


}

.navbar {
	padding-bottom: 30px;

 }


.navbar-default .navbar-nav > li > a {
	font-size: 2.5em;
	color: whitesmoke;
	position: relative;
	top: 25px;
}

.dropdown-menu > li > a {
	font-size: 2em;
	margin-top: 40px;
}

#drop a {
	display: inline-block;
	width: 100px;
	color: whitesmoke;
}




